* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.nav-ul {
  display: flex;

  list-style: none;
}
ul {
  color: black;
}
.nav-li {
  padding: 0 2rem;
}

.land-head {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.back {
  height: 350px;
  width: 350px;
  border-radius: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.land-sec {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4rem 0rem;
}
