* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.nav-ul {
  display: flex;

  list-style: none;
}
ul {
  color: black;
}
.nav-li {
  padding: 0 2rem;
}

.land-head {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.back {
  height: 350px;
  width: 350px;
  border-radius: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  margin-top: 5rem;
}

.land-sec {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.foot {
  display: flex;
  justify-content: center;
  padding: 6rem 0 2rem;
  gap: 7rem;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-sec {
  margin: 0rem 3rem;
}

.mar {
  margin: 1rem 0;
}

button {
  margin-top: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(63, 63, 255);
}

.hero-btn {
  margin-top: 3rem;
  padding: 1.6rem 5rem;
  border-radius: 1.7rem;
}

.h1-head {
  margin: 1.6rem 0;
  font-size: 2.3rem;
}

.p-text {
  line-height: 2rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  left: 28px;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
